<div class="container">
    <div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Stock <b>Sfax</b></h2>
                </div>
                <div class="col-sm-4">
                    <!-- c'est comment je peux faire l'input type "file" avec icon -->
                    <label class="btn btn-info">
                        <i class="material-icons">&#xE24D;</i>Importer le dernier fichier Stock Sfax<input type="file" style="display: none;"
                            name="file" (change)="onFileChanged($event)">
                    </label>
                </div>
                <div class="col-sm-2">
                    <!-- Enregistrement du fichier avec icon -->
                    <label class="btn btn-info">
                        <i class="material-icons">&#xe171;</i>Enregistrer<input type="button" style="display: none;"
                            name="file" (click)="onUpload()">
                    </label>
                </div>
            </div>
        </div>
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-primary" (click)="searchMaterialDesc()"><i class="fa fa-search"></i></button>
                    <div class="filter-group" >
                        <input type="text" class="form-control" placeholder="Material Description" [(ngModel)]="materialDesc">
                    </div>
                    <button type="button" class="btn btn-primary" (click)="searchMaterialCode()"><i class="fa fa-search"></i></button>
                    <div class="filter-group" >
                        <input type="text" class="form-control" placeholder="Material Code" [(ngModel)]="materialCode">
                    </div>
                    
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered">
            <!-- "table-bordered"  idha 7abit nrodou msater tableau-->
            <thead>
                <tr>
                    <th>N°</th>
                    <th>Material Code</th>
                    <th>Material Description</th>
                    <th>Serial Number 1</th>
                    <th>Serial Number 2</th>
                    <th>Quantity</th>
                    <th>Store Location</th>
                    <th>Bin Code</th>
                    <th>Price</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let stockSfa of stockSfax | paginate: {itemsPerPage:50,currentPage:p}; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{stockSfa.materialCode}}</td>
                    <td>{{stockSfa.materialDesc}}</td>
                    <td>{{stockSfa.serialNo1}}</td>
                    <td>{{stockSfa.serialNo2}}</td>
                    <td>{{stockSfa.quantity}}</td>
                    <td>{{stockSfa.storeLocation}}</td>
                    <td>{{stockSfa.binCode}}</td>
                    <td>{{stockSfa.price}} dt</td>
                    <td>{{stockSfa.grndate}}</td>
                </tr>
            </tbody>
        </table>
        <div >
            <pagination-controls previousLabel="Précédent" nextLabel="Suivant"(pageChange) = "p = $event"></pagination-controls>
        </div>
    </div>
    </div>
</div>

