
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><img src="./assets/img/logo.jpg"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- the routerLinkActive make the current page on (click) active -->
      <li routerLinkActive="active current" class="nav-item">
        <a class="nav-link" href="#"><strong>ACCUEIL </strong></a>
      </li>
      <li routerLinkActive="active current" class="nav-item">
        <a routerLink="BOM" class="nav-link">BOM</a>
      </li>
      <li routerLinkActive="active current" class="nav-item">
        <a routerLink="stock-totale" class="nav-link" href="#">STOCK TOTALE</a>
      </li>
      <li routerLinkActive="active current" class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          STOCK LOCALE
        </a>
        <div class="dropdown-menu sm-menu">
          <a routerLink="stock-tunis" class="dropdown-item">Tunis</a>
          <a routerLink="stock-sousse" class="dropdown-item">Sousse</a>
          <a routerLink="stock-sfax" class="dropdown-item">Sfax</a>
        </div>
      </li>
      <li routerLinkActive="active current" class="nav-item dropdown dmenu">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ADMIN
        </a>
        <div class="dropdown-menu sm-menu">
          <a routerLink="gestion-agences" class="dropdown-item">Gestion agences</a>
          <a routerLink="gestion-users" class="dropdown-item">Gestion utilisateurs</a>
        </div>
      </li>
    </ul>
    
    <hr>

     <div><a  class="btn solid">User</a></div>
     <br>
     <div><button class="btn transparent" (click)="LogOut()">Déconnexion</button></div>

  </div>
</nav>
