<div class="container">
    <div class="table-responsive">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6">
                    <h2>BOM <b>détails</b></h2>
                </div>
                <div class="col-sm-4">
                    <!-- c'est comment je peux faire l'input type "file" avec icon -->
                    <label class="btn btn-info">
                        <i class="material-icons">&#xE24D;</i>Importer le dernier BOM<input type="file" style="display: none;"
                            name="file" (change)="onFileChanged($event)">
                    </label>
                </div>
                <div class="col-sm-2">
                    <!-- Enregistrement du fichier avec icon -->
                    <label class="btn btn-info">
                        <i class="material-icons">&#xe171;</i>Enregistrer<input type="button" style="display: none;"
                            name="file"(click)="onUpload()">
                    </label>
                </div>
            </div>
        </div>
        <div class="table-filter">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-9">
                    <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    <div class="filter-group">
                        <label>Recherche</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="filter-group">
                        <label>Brand</label>
                        <select class="form-control">
                            <option>TOUT</option>
                            <option>INFINIX</option>
                            <option>TECNO</option>
                            <option>ITEL</option>
                        </select>
                    </div>
                    <span class="filter-icon"><i class="fa fa-filter"></i></span>
                </div>
            </div>
        </div>
        <table class="table table-striped table-hover table-bordered styled-table">
            <!-- "table-bordered"  idha 7abit nrodou msater tableau-->
            <thead>
                <tr>
                    <th>Code</th>
                    <th>SAP_Code</th>
                    <th>Brand</th>
                    <th>Model</th>
                    <th>Color</th>
                    <th>Material_Description</th>
                    <th>BOM_Level</th>
                    <th>Component_Description</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bom of BOM">
                    <td>{{bom.code}}</td>
                    <td>{{bom.sap_Code}}</td>
                    <td>{{bom.brand}}</td>
                    <td>{{bom.model}}</td>
                    <td>{{bom.color}}</td>
                    <td>{{bom.materialdescriptionEnglish}}</td>
                    <td>{{bom.bomlevel}}</td>
                    <td>{{bom.componentdescriptionEnglish}}</td>
                </tr>
            </tbody>
        </table>
        <div class="clearfix">
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">Previous</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item active"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>
