*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: "Open Sans";
	color: #fff;
}
section{
	background: url("src/assets/img/img2.jpg");
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
}
.form-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	padding: 70px 30px;
	border-radius: 10px;
	/*Background transparente couleur noir*/
	background-color: rgb(5, 5, 5); /* alternative solide */
    background-color: rgba(5, 5, 5, 0.7);	
	box-shadow:7px 7px 60px #000;
}
h1{
	color: #ffffff;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 2rem;
}
.control input, button{
	padding: 10px;
	font-size: 16px;
	display: block;
	width: 100%;
	color:#000;
	background: #ddd;
	outline: none;
	border: none;
	margin: 1em 0;

}   
.control label{
	color:white;
}      
.control .btn{
	color: #fff;
	background: #0298b1;
	opacity: .9;
	transition:opacity .1s ease;
}
.btn:focus{
	opacity: 100;
}
