<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Gestion <b>des Agences</b></h2>
                    </div>
                    <div class="col-sm-6">
                        <a href="#addAgenceModal" class="btn btn-info" data-toggle="modal"><i
                                class="material-icons">&#xE147;</i> <span>Nouvelle Agence</span></a>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="selectAll">
                                <label for="selectAll"></label>
                            </span>
                        </th>
                        <th>Nom</th>
                        <th>Adresse</th>
                        <th>Téléphone</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let agence of agences; let i=index">

                        <td>
                            <span class="custom-checkbox">
                                <input type="checkbox" id="checkbox" name="options[]" value="i">
                                <label for="checkbox"></label>
                            </span>
                        </td>
                        <td>{{ agence.nom }}</td>
                        <td>{{ agence.adresse }}</td>
                        <td>{{ agence.telephone }}</td>
                        <td>
                            <a href="#editAgenceModal" class="edit" data-toggle="modal" role="button"
                                (click)="moveDataToModifForm(i)"><i class="material-icons" data-toggle="tooltip"
                                    title="Modifier">&#xE254;</i></a>

                            <a href="#deleteAgenceModal" class="delete" data-toggle="modal" role="button"
                                (click)="moveIDToDeleteForm(i)"><i class="material-icons" data-toggle="tooltip"
                                    title="Supprimer">&#xE872;</i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- Add Modal HTML -->
<div id="addAgenceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="addAgencesForm">
                <div class="modal-header">
                    <h4 class="modal-title">Ajouter Agence</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" id="name" formControlName="nom" class="form-control">
                        <div class="invalid-feedback d-block"
                        *ngIf="addAgencesForm.controls['nom'].hasError('required') && addAgencesForm.controls['nom'].touched">
                        Ce champ doit être rempli</div>
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <textarea id="address" formControlName="adresse" class="form-control"></textarea>
                        <div class="invalid-feedback d-block"
                        *ngIf="addAgencesForm.controls['adresse'].hasError('required') && addAgencesForm.controls['adresse'].touched">
                        Ce champ doit être rempli</div>
                    </div>
                    <div class="form-group">
                        <label>Telephone</label>
                        <input type="text" id="tele" formControlName="telephone" class="form-control">
                        <div class="invalid-feedback d-block"
                        *ngIf="addAgencesForm.controls['telephone'].hasError('required') && addAgencesForm.controls['telephone'].touched">
                        Ce champ doit être rempli</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                    <button [disabled]="addAgencesForm.invalid" data-dismiss="modal" class="btn btn-info" (click)="addAgence()">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Edit Modal HTML -->
<div id="editAgenceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="editAgencesForm">
                <div class="modal-header">
                    <h4 class="modal-title">Modifier une agence</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Nom</label>
                        <input type="text" id="name1" formControlName="nom" class="form-control">
                        <div class="invalid-feedback d-block"
                        *ngIf="editAgencesForm.controls['nom'].hasError('required') && editAgencesForm.controls['nom'].touched">
                        Ce champ doit être rempli</div>
                    </div>
                    <div class="form-group">
                        <label>Adresse</label>
                        <input type="text" id="address1" formControlName="adresse" class="form-control">
                        <div class="invalid-feedback d-block"
                        *ngIf="editAgencesForm.controls['adresse'].hasError('required') && editAgencesForm.controls['adresse'].touched">
                        Ce champ doit être rempli</div>
                    </div>
                    <div class="form-group">
                        <label>Telephone</label>
                        <input type="text" id="tele1" formControlName="telephone" class="form-control">
                        <div class="invalid-feedback d-block"
                        *ngIf="editAgencesForm.controls['telephone'].hasError('required') && editAgencesForm.controls['telephone'].touched">
                        Ce champ doit être rempli</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                    <button [disabled]="editAgencesForm.invalid" class="btn btn-info" data-dismiss="modal" (click)="editAgence(idEdit)">Enregistrer</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal HTML -->
<div id="deleteAgenceModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <h4 class="modal-title">Supprimer agence</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Etes-vous sûr de vouloir supprimer cette agence?</p>
                    <p class="text-warning"><small>Cette action ne peut pas être annulée.</small></p>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Annuler">
                    <button class="btn btn-danger" data-dismiss="modal" (click)="deleteAgence(idDelete)">Supprimer</button>
                </div>
            </form>
        </div>
    </div>
</div>